body {
    background: #151515;
    color: white;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 80%;
    margin: 4rem auto;
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin: 2rem auto;
}
.reponse {
    margin-top: 5rem;
    font-size: 2rem;
    background: white;
    color: #151515;
    padding: 1rem 3rem;
    display: inline-block;
}
.btn {
    background: #151515;
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 3px;
    opacity: 1;
    transition: background 0.25s ease-in-out;
    display: block;
    margin: 5rem auto 1rem;
    max-width: 170px;
    border: 1px solid white;
}
.btn:hover {
    background:#3c6960;
}
.pin {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.pin.home {
    top: 2rem;
    left: 2rem;
}
.pin.account {
    top: 2rem;
    right: 2rem;
}
.avatar {
    border-radius: 50%;
    z-index: 50;
}
.pin.social {
    bottom: 2rem;
    right: 2rem;
}
.pin .text {
    position: relative;
    top: -2rem;
    z-index: 1;
    transition: .5s;
}
.pin:hover .text {
    top: 0;
    transition: .5s;
}
.homeimg {
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    /* background: url('../img/home.svg') no-repeat; */
    background-color:black;
    width: 46px;
    height: 46px;
}
.github {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url('../img/github.png') no-repeat;
    width: 32px;
    height: 32px;
}
