<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="pin account">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a class="link" href="{{ path('dashboard') }}">{{ app.user.username }}</a>
          {% else %}
              <a class="link" href="{{ path('app_login') }}">Login</a>
          {% endif %}
        </div>
        {% block body %}{% endblock %}

        <div class="pin social">
            <a class="github" href="https://github.com/galenskap/jesaispasquoidessiner_reboot" title="Get the code on Github">Github</a>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
