{% extends "base.html.twig" %}

{% block title %}Idées de sujets de dessin{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon dashboard</h1>
        des trucs ici
    </div>
{% endblock %}
